#div1 {
    width: 40px;
    border: 1px solid black;
    height: 20px;
    overflow: hidden;
    text-wrap-mode: nowrap;
    color: aqua;
    transition: 
    width 5s ease-in,
    color 5s linear;
}

#div1:hover {
    width: 250px;
    color: rgb(2, 2, 29);
}


#div2 {
    width: 200px;
    height:  300px;
    border: 1px solid black;
    margin: auto;
    color: brown;
    transition: transform 2s linear;
}

#div2:hover {
    transform: rotateZ(1360deg);
}