*{
    padding: 0;
    margin: 0;
}

@keyframes suraj {
    0%{
        top: 0px;
        left: 0px;
    }
    25%{
        top: 0px;
        left: 500px;
    }
    50%{
        top: 500px;
        left: 500px;
    }
    75%{
        top: 500px;
        left: 0px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
}

#box {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    animation: suraj 5s infinite ;
}

