* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

.header {
    border: 1px solid black;
    display: flex;
    height: 70px;
    justify-content: space-between;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 40px;
    padding: 5px 50px;
    position: sticky;
    top: 0;
    z-index: 99;

    .logo {
        display: flex;
        align-items: center;
        gap: 30px;

        img {
            height: 50px;
        }
    }

    .rightBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        a{
            text-decoration: none;
            color: black;
            font-size: large;
        }


        button{
            padding: 15px 20px;
            border-radius: 8px;
            border: none;
            background-color: #125785;
            color: white;
            font-size: medium;
            box-shadow: 5px 5px #79B6DE;
        }
    }
}

#home {
    display: flex;
    gap: 30px;

    a {
        font-size: 20px;
        text-decoration: none;
        color: gray;

    }
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EAF8FE;
    width: 70%;
    margin: 50px 230px;
    gap: 30px;
    padding: 40px;

    .heading {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    h2 {
        font-weight: bolder;
        font-family: 'Lucida Sans';
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;

    .name {
        display: flex;
        flex-direction: column;
        gap: 5px;
        input {
            display: flex;
            padding: 7px;
            width: 400px;
            height: 40px;
            border-radius: 8px;
        }
    }
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;

    .email {
        display: flex;
        flex-direction: column;
        gap: 5px;
        input {
            display: flex;
            padding: 7px;
            width: 550px;
            height: 40px;
            border-radius: 8px;
        }
    }

    .qual {
        display: flex;
        flex-direction: column;
        gap: 5px;
        input {
            display: flex;
            padding: 7px;
            width: 250px;
            height: 40px;
            border-radius: 8px;
        }
    }
}

.clg {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .clgName {
        display: flex;
        flex-direction: column;
        gap: 5px;
        input {
            display: flex;
            padding: 7px;
            width: 835px;
            height: 40px;
            border-radius: 8px;
        }
    }
}

select {
            display: flex;
            padding: 7px;
            width: 410px;
            height: 60px;
            border-radius: 8px;
            option {
                color: grey;
            }
    }

.selection {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 70px;
    line-height: 30px;  
}

button{
    width: 130px;
    height: 60px;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-size: larger;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    background-color: #125785;
    height: 500px;
    img {
        margin-top: 40px;
    }
    .footlogo {
        display: flex;
        margin-left: 70px;
        color: #B8CDDB;
        font-size: large;
        line-height: 30px;
    }

    .col1 {
        img {
            margin-left: 80px;
            margin-top: 100px;
            margin-bottom: 20px;
            width: 150px;
            height: auto;
        }
    }

    .col2 {
        h1 {
            color: white;
            font-size: larger;
            margin-bottom: 25px;
            
        }
        h2 {
            color: white;
            font-size: larger;
        }
        a {
            text-decoration: none;
            color: #B8CDDB;
            line-height: 30px;
        }
    }

    .anchor1 {
        line-height: 40px;
    }

    .loc {
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        color: #B8CDDB;
        line-height: 30px;
        gap: 5px;
    }

    .socials {
        margin-top: 15px;
        margin: 10px;
        color: white;
        width: 100px;
        height: auto;
    }
}