* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 90px;
    width: 98vw;
    position: sticky;
    top: 0;
    z-index: 999;

    .firstPart {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;

            img {
                width: 160px;
                margin: 35px 70px;
            }
    }

    .anchor {
        display: flex;
        gap: 40px;
    }

    a {
        text-decoration: none;
        color: #101828;
        font-size: larger;
        font-family: 'Arial Narrow', Arial, sans-serif;
    }

    .secondPart {
        display: flex;
        align-items: center;
        gap: 30px;
        margin: 80px;

        button {
            background-color: #125785;
            color: white;
            border-radius: 8px;
            text-decoration: none;
            box-shadow: 6px 6px 2px 0px #81D1F0;
            padding: 10px;
            width: 135px;
            height: 45px;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: #EAF8FE;
    margin: 50px 230px;
    padding: 40px;
    gap: 30px;
    font-weight: 200;

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row1 {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        
        .input1 {
            display: flex;
            flex-direction: column;
            gap: 5px;

            input {
                width: 360px;
                height: 50px;
                border-radius: 5px;   
            }

            #div1 {
                width: 500px;
            }

            #div2 {
                width: 220px;
            }

            #div3 {
                width: 745px;
            }

            select {
                width: 360px;
                height: 75px;
                border-radius: 5px;
            }
        }
    }

    .selection {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 70px;
    line-height: 30px; 
    
    select {
                width: 360px;
                height: 55px;
                border-radius: 5px;
            }
}

button{
    width: 130px;
    height: 60px;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-size: larger;
}
}

footer{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    background-color: #125785;
    height: 500px;
    img {
        margin-top: 40px;
    }
    .footlogo {
        display: flex;
        margin-left: 70px;
        color: #B8CDDB;
        font-size: large;
        line-height: 30px;
    }

    .col1 {
        img {
            margin-left: 80px;
            margin-top: 100px;
            margin-bottom: 20px;
            width: 150px;
            height: auto;
        }
    }

    .col2 {
        h1 {
            color: white;
            font-size: larger;
            margin-bottom: 25px;
            
        }
        h2 {
            color: white;
            font-size: larger;
        }
        a {
            text-decoration: none;
            color: #B8CDDB;
            line-height: 30px;
        }
    }

    .anchor1 {
        line-height: 40px;
    }

    .loc {
        display: flex;
        align-items: baseline;
        justify-content: baseline;
        color: #B8CDDB;
        line-height: 30px;
        gap: 5px;
    }

    .socials {
        margin-top: 15px;
        margin: 10px;
        color: white;
        width: 100px;
        height: auto;
    }
}

button {
   transition: all 0.15s ease;
   box-shadow: 0 4px 0 #999;
}

button:active {
   transform: translateY(3px);
   box-shadow: 0 1px 0 #999;
}

a:hover {
   color: #125785;
}

button:hover {
   filter: brightness(90%);
}

input, select {
   border: 1px solid #ccc;
   padding: 10px;
   outline: none;
}

input:focus {
   border-color: #125785;
}

@media screen and (max-width : 990px){
    .firstPart .anchor {
        display: none;
    }

    #contact {
        display: none;
    }

    .row1 {
        flex-direction: column;
    }
}
